html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin: 0 auto;
  margin-bottom: 60px;
}

img {
    max-height: 300px;
    max-width: 300px;
    margin: 0 auto;
    transition: 250ms ease-in-out;
    margin-bottom: 10px;
}
a img:hover {
    max-height: 310px;
    max-width: 310px;
}
.btn {
    border-radius: 10px;
    transition: 100ms ease-in-out;
}
.item {
    margin: 50px auto;
    max-width: 100%;
    height: 500px;
}
.list {
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    align-items: center;
}
.home {
    margin: 0 auto;
}
.btn-home {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 200px;
}

.container-fluid, .container, main, .row {
    margin: 0 auto;
}
.form-group, input {
    max-width: 400px;
    margin: 0 auto;
}
#noclick {
    cursor: default;
}