@{
    ViewData["Title"] = "About";
}
<div class="text-center">
    <h1 class="mb-5">About</h1>
    <p>Rent Tech is a website that enables users to rent out tech equipment from people. It features reviews to make
        sure that users can be trustworthy to each other.
    </p>
</div>
