@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4 mb-5">RentTech</h1>
    <h2 class="m-5">Welcome to Rent Tech!</h2>
    <a class="h1 mt-5" asp-controller="TechItems" asp-action="Index">Browse Items</a>
</div>
