@{
    ViewData["Title"] = "Home";
}
<link rel="stylesheet" href="~/css/home.css" />
    <div class="main">
     <h1>Welcome to Rent Tech!</h1>
     <br /><br />
     <a class="btn btn-primary" asp-controller="TechItems" asp-action="Index">Browse</a>
    </div>
   
